# OS
.DS_Store

# IDE
.idea

# environment
.env

# builds
/build

# dependencies
/node_modules

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# debug & logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
